$color-background:#020202;
$color-surface:#121212;
$color-primary:#A887F8;
$color-secondary:#574AE2;
$color-onbackground:#F5F5F5;
$color-onsurface:#EBEBEB;
$color-onprimary:#1A1A1A;
$color-onsecondary:#EEEEEE;
$color-error:#FF4242;
