@import "./scss/colors";
:root {
--color-background: #{$color-background};
--color-surface: #{$color-surface};
--color-primary: #{$color-primary};
--color-secondary: #{$color-secondary};
--color-onbackground: #{$color-onbackground};
--color-onsurface: #{$color-onsurface};
--color-onprimary: #{$color-onprimary};
--color-onsecondary: #{$color-onsecondary};
--color-error: #{$color-error};
}